USE [master]
GO
/****** Object:  Database [HotelDB]    Script Date: 2024-09-06 13:18:12 ******/
CREATE DATABASE [HotelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HotelDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HotelDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelDB]
GO
/****** Object:  Table [dbo].[Chambre]    Script Date: 2024-09-06 13:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chambre](
	[PK_CHA_id] [uniqueidentifier] NOT NULL,
	[CHA_numero] [smallint] NOT NULL,
	[CHA_etat] [bit] NOT NULL,
	[CHA_autreInfo] [varchar](300) NULL,
	[FK_TYP_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Chambre] PRIMARY KEY CLUSTERED 
(
	[PK_CHA_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 2024-09-06 13:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[PK_CLI_id] [uniqueidentifier] NOT NULL,
	[CLI_prenom] [varchar](50) NOT NULL,
	[CLI_nom] [varchar](50) NOT NULL,
	[CLI_addresseResidence] [varchar](100) NULL,
	[CLI_telephoneMobile] [char](15) NULL,
	[CLI_courriel] [varchar](75) NULL,
	[CLI_motDePasse] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[PK_CLI_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 2024-09-06 13:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[PK_RES_id] [uniqueidentifier] NOT NULL,
	[RES_dateDebut] [datetime] NOT NULL,
	[RES_dateFin] [datetime] NOT NULL,
	[RES_prixJour] [money] NOT NULL,
	[RES_autre] [varchar](300) NULL,
	[FK_CLI_id] [uniqueidentifier] NOT NULL,
	[FK_CHA_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[PK_RES_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_Chambre]    Script Date: 2024-09-06 13:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_Chambre](
	[PK_TYP_id] [uniqueidentifier] NOT NULL,
	[TYP_nomType] [varchar](30) NOT NULL,
	[TYP_prixPlancher] [float] NOT NULL,
	[TYP_prixPlafond] [float] NOT NULL,
	[TYP_description] [varchar](300) NULL,
 CONSTRAINT [PK_type_Chambre] PRIMARY KEY CLUSTERED 
(
	[PK_TYP_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chambre]  WITH CHECK ADD  CONSTRAINT [FK_Chambre_type_Chambre] FOREIGN KEY([FK_TYP_id])
REFERENCES [dbo].[type_Chambre] ([PK_TYP_id])
GO
ALTER TABLE [dbo].[Chambre] CHECK CONSTRAINT [FK_Chambre_type_Chambre]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Chambre] FOREIGN KEY([FK_CHA_id])
REFERENCES [dbo].[Chambre] ([PK_CHA_id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Chambre]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Client] FOREIGN KEY([FK_CLI_id])
REFERENCES [dbo].[Client] ([PK_CLI_id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Client]
GO
USE [master]
GO
